<p>customer works!</p>
<button class="btn btn-danger" (click)="clickMe()">Check Tables</button>
<div>
<mat-card>
    <mat-card-title>
        <mat-list-item *ngFor="let table of tables">
            <button  mat-raised-button color="primary">{{table.tableNumber}}-{{table.availability}}</button>           
        </mat-list-item>
    </mat-card-title>
</mat-card>

<form [formGroup]="loginForm" (ngSubmit)="createCustomer()">
    <label for="name">Customer Name</label>
    <input type="text" 
       class="form-control" 
       id="name"
       formControlName="name">
       <label for="fktablenumber">Table Number</label>
       <input type="text" 
       class="form-control" 
       id="fktablenumber"
       formControlName="fktablenumber">
       <button class="btn btn-primary" >Submit</button>
</form>

<div [innerHtml]="customerHtml"></div>

<button class="btn btn-success" (click) ="goMenu()" [disabled]="btnMenus">The Menu</button> <!--go menu with param orderid-->
</div>